<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0266/4841/2351/files/mc-favicon_32x32.jpg?v=1614321857" type="image/png">
	<link href="https://fonts.cdnfonts.com/css/minecraft-4" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
	<script src="Minecraft.js"></script>
	<title>ASM | Minecraft Cart</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="cdn.shopify.com/s/files/1/0266/4841/2351/t/27/assets/Minecraft-Five-Bold.woff?v=89906785377351922191668030118) ]">
</head>

<body ng-app="MyApp">

	<!-- Cart -->
	<div ng-controller="CartCtrl" style="min-height: calc(100vh - 431px)">
		<div class="GH text-center m-4 text-light">CART</div>
		<div class="h4 text-center m-4 text-light" ng-show="Carts.length == 0">Giỏ hàng của bạn hiện đang trống</div>
		<div class="TableItem" ng-hide="Carts.length == 0">
			<div class="row text-center m-0" style="border-bottom: 2px solid #E8E8E1;">
				<div class="col-3 col-md-2 col-xl-2 d-none d-md-block p-0 pb-3"></div>
				<div class="col-9 col-md-4 col-xl-7 d-none d-md-block p-0 pb-3"></div>
				<div class="col-4 col-md-2 col-xl-1 d-none d-md-block p-0 pb-3">Đơn giá</div>
				<div class="col-4 col-md-2 col-xl-1 d-none d-md-block p-0 pb-3">Số lượng</div>
				<div class="col-4 col-md-2 col-xl-1 d-none d-md-block p-0 pb-3">Tổng</div>
			</div>
			<div class="row m-0 my-3" ng-repeat="item in Carts">
				<div class="col-3 col-md-2 col-xl-2 p-2 text-center"><img src="{{item.Logo}}" class="img-fluid"></div>
				<div class="col-9 col-md-4 col-xl-7 p-0 align-items-center">
					<p><strong>{{item.Name}}</strong></p>
					<p>{{item.Text2}}</p>
				</div>
				<div class="col-4 col-md-2 col-xl-1 p-0 text-center">
					<div class="d-md-none d-block mt-4 text-start px-3">Đơn giá</div>
					<div class="d-md-none d-block mt-2 text-start px-3">${{item.Price}}</div>
					<div class="d-none d-md-block mt-2">${{item.Price}}</div>
				</div>
				<div class="col-4 col-md-2 col-xl-1 p-0 text-center">
					<div class="d-md-none d-block mt-4">Số lượng</div>
					<div><input type="number" class="form-control" data-bs-theme="dark" value="1" min="1" step="1" onKeyDown="return false" ng-model="item.Quan"></div>
					<a type="button" class="col-auto btnCart-sm mt-2" ng-click="Delete($index)">XOÁ</a>
				</div>
				<div class="col-4 col-md-2 col-xl-1 p-0 text-center">
					<div class="d-md-none d-block mt-4 text-end px-3">Tổng</div>
					<div class="d-md-none d-block mt-2 text-end px-3">${{item.Total}}</div>
					<div class="d-none d-md-block mt-2" ng-model="item.Total = ((item.Price*item.Quan * 100) / 100).toFixed(2);">${{item.Total}}</div>
				</div>
			</div>
			<div class="row text-center m-0" style="border-top: 2px solid #E8E8E1;">
				<div class="col-0 col-md-2 col-xl-2 d-none d-md-block p-0 pb-3"></div>
				<div class="col-0 col-md-4 col-xl-7 d-none d-md-block p-0 pb-3"></div>
				<div class="col-6 col-md-2 col-xl-1 p-0 pb-3"><strong style="font-size: 20px;">Tổng cộng</strong></div>
				<div class="col-0 col-md-2 col-xl-1 d-none d-md-block p-0 pb-3"></div>
				<div class="col-6 col-md-2 col-xl-1 p-0 pb-3"><strong style="font-size: 20px;">{{getTotal() | currency:$:2}}</strong></div></div>
			</div>
		</div>
	</div>
	
	<!-- <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol viewBox="0 0 512 512" id="pixel-arrow-right"><path d="M416 224v-64h-64V96h-64V32h-64v192H32v64h192v192h64v-64h64v-64h64v-64h64v-64h-64z"></path></symbol>
	</svg> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous">
	</script>
</body>

</html>