<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<!-- <link rel="icon" type="image/x-icon" href="https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/favicon.ico"> -->
	<link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0266/4841/2351/files/mc-favicon_32x32.jpg?v=1614321857" type="image/png">
	<link href="https://fonts.cdnfonts.com/css/minecraft-4" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="Minecraft.js"></script>
	<title>ASM | Minecraft Cart</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="cdn.shopify.com/s/files/1/0266/4841/2351/t/27/assets/Minecraft-Five-Bold.woff?v=89906785377351922191668030118) ]">
</head>

<body ng-app="CartApp">
	<header>
		<!-- Header -->
		<div class="row m-0 py-1 justify-content-end" style="background-color: black;">
			<div class="col-auto"><a class="text-decoration-none text-warning link-light loginredeem" href="#">Đăng Nhập</a></div>
			<div class="col-auto"><a class="text-decoration-none text-warning link-light loginredeem" href="#">Redeem</a></div>
		</div>
		<div class="row navbar navbar-expand-xl align-items-center m-0 py-3 text-center" style="background-color: #171615;">
			<a class="col-1 col-sm-1 col-md-1 navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#NavMC2"><img src="https://www.minecraft.net/content/dam/games/minecraft/logos/hamburger-icon.png" style="max-height: 60px;"></a>
			<div class="col-xl-4 collapse navbar-collapse" id="NavMC">
				<div class="col-xl-3">
					<div class="dropdown">
						<button class="btn dropdown-toggle text-light py-0 navitem" type="button" data-bs-toggle="dropdown" aria-expanded="false">GAME</button>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="#"><img src="https://www.minecraft.net/content/dam/games/minecraft/logos/MCVB_App_Icon_Flat_18x18.png"> MINECRAFT</a></li>
							<li><a class="dropdown-item" href="index.html"><img src="https://www.minecraft.net/content/dam/games/dungeons/logos/MCD_App_Icon_Flat_18x18.png"> MINECRAFT DUNGEONS</a></li>
							<li><a class="dropdown-item" href="MinecraftLegends.html"><img src="https://www.minecraft.net/content/dam/games/badger/logos/MCL_App_Icon_Flat_18x18.png"> MINECRAFT LEGENDS</a></li>
							<li><a class="dropdown-item" href="#"><img src="https://www.minecraft.net/content/dam/education-edition/logos/EDU_App_Icon_Flat_18x18.png"> MINECRAFT EDUCATIONS</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3"><a class="text-decoration-none text-light link-success navitem" href="#">CỘNG ĐỒNG</a></div>
				<div class="col-xl-3"><a class="text-decoration-none text-light link-success navitem" href="#">VẬT PHẨM</a></div>
				<div class="col-xl-3"><a class="text-decoration-none text-light link-success navitem" href="#">HỖ TRỢ</a></div>
			</div>
			<div class="col-1 col-sm-3 col-md-3 col-xl-1 text-light"></div>
			<div class="col-9 col-sm-4 col-md-4 col-xl-2"><img src="https://www.minecraft.net/content/dam/games/minecraft/logos/logo-minecraft.svg"></div>
			<div class="col-sm-4 col-md-4 col-xl-5 navbar-expand-md">
				<a href="#" class="navbar-toggler link-success text-decoration-none" style="font-family: 'Minecraft', sans-serif; font-weight: 600; font-size: 16px;">THANH TOÁN</a>
				<div class="collapse navbar-collapse row col-auto text-end">
					<div class="col"></div>
					<a href="#" type="button" class="col-auto mx-3 btnCart">THANH TOÁN</a>
				</div>
			</div>
		</div>

		<div class="offcanvas offcanvas-start" tabindex="-1" id="NavMC2" style="background-color: #171615;">
			<div class="offcanvas-header">
			  	<h5 class="offcanvas-title text-light" id="NavMC2Label">Minecraft Menu</h5>
			  	<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<div class="col-auto">
					<div class="text-light fs-5">GAME
						<ul style="list-style-type: none;">
							<li><a class="text-decoration-none text-success fs-6" href="#"><img src="https://www.minecraft.net/content/dam/games/minecraft/logos/MCVB_App_Icon_Flat_18x18.png"> MINECRAFT</a></li>
							<li><a class="text-decoration-none text-success fs-6" href="index.html"><img src="https://www.minecraft.net/content/dam/games/dungeons/logos/MCD_App_Icon_Flat_18x18.png"> MINECRAFT DUNGEONS</a></li>
							<li><a class="text-decoration-none text-success fs-6" href="MinecraftLegends.html"><img src="https://www.minecraft.net/content/dam/games/badger/logos/MCL_App_Icon_Flat_18x18.png"> MINECRAFT LEGENDS</a></li>
							<li><a class="text-decoration-none text-success fs-6" href="#"><img src="https://www.minecraft.net/content/dam/education-edition/logos/EDU_App_Icon_Flat_18x18.png"> MINECRAFT EDUCATIONS</a></li>
						</ul>
					</div>
				</div>
				<hr class="border border-secondary border-1 opacity-75">
				<div class="col-auto"><a class="text-decoration-none text-light link-success fs-5" href="#">CỘNG ĐỒNG</a></div>
				<div class="col-auto"><a class="text-decoration-none text-light link-success fs-5" href="#">VẬT PHẨM</a></div>
				<div class="col-auto"><a class="text-decoration-none text-light link-success fs-5" href="#">HỖ TRỢ</a></div>
			</div>
		</div>
	</header>

	<!-- Cart -->
	<div ng-controller="CartCtrl" style="min-height: calc(100vh - 431px)">
		<div class="GH text-center m-4">CART</div>
		<div class="h4 text-center m-4" ng-show="ListItem.length == 0">Giỏ hàng của bạn hiện đang trống</div>
		<div class="TableItem" ng-hide="ListItem.length == 0">
			<div class="row text-center m-0" style="border-bottom: 2px solid #E8E8E1;">
				<div class="col-3 col-md-2 col-xl-2 d-none d-md-block p-0 pb-3"></div>
				<div class="col-9 col-md-4 col-xl-7 d-none d-md-block p-0 pb-3"></div>
				<div class="col-4 col-md-2 col-xl-1 d-none d-md-block p-0 pb-3">Đơn giá</div>
				<div class="col-4 col-md-2 col-xl-1 d-none d-md-block p-0 pb-3">Số lượng</div>
				<div class="col-4 col-md-2 col-xl-1 d-none d-md-block p-0 pb-3">Tổng</div>
			</div>
			<div class="row m-0 my-3" ng-repeat="item in ListItem">
				<div class="col-3 col-md-2 col-xl-2 p-0 text-center"><img src="{{item.Img}}" class="img-fluid"></div>
				<div class="col-9 col-md-4 col-xl-7 p-0 align-items-center">
					<p><strong>{{item.Name}}</strong></p>
					<p>{{item.Text}}</p>
				</div>
				<div class="col-4 col-md-2 col-xl-1 p-0 text-center">
					<div class="d-md-none d-block mt-4 text-start px-3">Đơn giá</div>
					<div class="d-md-none d-block mt-2 text-start px-3">${{item.Price}}</div>
					<div class="d-none d-md-block mt-2">${{item.Price}}</div>
				</div>
				<div class="col-4 col-md-2 col-xl-1 p-0 text-center">
					<div class="d-md-none d-block mt-4">Số lượng</div>
					<div><input type="number" class="form-control" value="0" min="1" step="1" onKeyDown="return false" ng-model="item.Quan"></div>
					<a type="button" class="col-auto btnCart-sm mt-2" ng-click="Delete($index)">XOÁ</a>
				</div>
				<div class="col-4 col-md-2 col-xl-1 p-0 text-center">
					<div class="d-md-none d-block mt-4 text-end px-3">Tổng</div>
					<div class="d-md-none d-block mt-2 text-end px-3">${{item.Total}}</div>
					<div class="d-none d-md-block mt-2" ng-model="item.Total = ((item.Price*item.Quan * 100) / 100).toFixed(2);">${{item.Total}}</div>
				</div>
			</div>
			<div class="row text-center m-0" style="border-top: 2px solid #E8E8E1;">
				<div class="col-0 col-md-2 col-xl-2 d-none d-md-block p-0 pb-3"></div>
				<div class="col-0 col-md-4 col-xl-7 d-none d-md-block p-0 pb-3"></div>
				<div class="col-6 col-md-2 col-xl-1 p-0 pb-3"><p><strong>Tổng cộng</strong></p></div>
				<div class="col-0 col-md-2 col-xl-1 d-none d-md-block p-0 pb-3"></div>
				<div class="col-6 col-md-2 col-xl-1 p-0 pb-3"><p><strong>$ {{getTotal()}}</strong></p></div></div>
			</div>
		</div>
	</div>
	


	<!-- Footer  -->
	<footer style="background-color: #000;">
		<div class="row justify-content-center m-0 pt-5">
			<div class="col-8 col-lg-6 text-center m-0 p-0 text-light">
				<h3 class="fontH" style="font-size: .9275rem;">THEO DÕI MINECRAFT</h3>
			</div>
		</div>
		<div class="row justify-content-center m-0 pb-3">
			<div class="col-8 m-0 p-0 row justify-content-center text-center fs-3">
				<div class="col-1 m-0 p-0"><a href="https://www.youtube.com/minecraft" class="bi bi-youtube text-danger"></a></div>
				<div class="col-1 m-0 p-0"><a href="https://www.instagram.com/minecraft/" class="bi bi-instagram text-info"></a></div>
				<div class="col-1 m-0 p-0"><a href="https://www.facebook.com/minecraft/" class="bi bi-facebook"></a></div>
				<div class="col-1 m-0 p-0"><a href="https://twitter.com/Minecraft" class="bi bi-twitter"></a></div>
				<div class="col-1 m-0 p-0"><a href="https://www.reddit.com/r/Minecraft/" class="bi bi-reddit text-danger"></a></div>
			</div>
		</div>
		<div class="row justify-content-center m-0 p-2">
			<div id="Credit2"><a href="https://anlavn.github.io">Make by AnLa</a></div>
		</div>
	</footer>

	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol viewBox="0 0 512 512" id="pixel-arrow-right"><path d="M416 224v-64h-64V96h-64V32h-64v192H32v64h192v192h64v-64h64v-64h64v-64h64v-64h-64z"></path></symbol>
	</svg>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous">
	</script>
</body>

</html>